<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <button id="home">Home</button>
        <button id="logout">Log Out</button>
    </header>
    <h3 id="auth-detail"></h3>
    <ul id="auth-blogs-container"></ul>
    <section id="blog-pagination">
    </section>
    <script src="account.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
</body>
</html>